/* Ajoute ces styles à ton fichier CSS (par exemple, styles.css) */

.state-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: auto;
  }
  
  .state-block {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    flex: 1; /* Utilise l'unité flex pour que les blocs s'étirent */
    box-sizing: border-box;
    border-radius: 20px;
    transition: box-shadow 0.3s;
    overflow: hidden;
    user-select: none;
    background-color: white;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
  }
  
  .state-block:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .state-name {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    color: rgb(108, 134, 134);
  }
  
  .quantity {
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Ajoute une règle de média query pour ajuster le style sur des écrans plus petits */
  @media screen and (max-width: 768px) {
    .state-block {
      flex: 0 0 20%; /* Sur des écrans plus petits, les blocs prendront 100% de la largeur */
    }
  }

  
  