.bloc {
  border: 1px solid #ccc;
  user-select: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.177)
}
.page-container {
  width: 100%;
  padding: 10px;
  display: flex;
  
}

.section-container {
  width: 33%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  max-width: 40%; /* ou toute autre valeur qui convient */
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.header-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; /* Aligner les éléments au début et à la fin du conteneur */
  align-items: center; 
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.save-button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #42c1d8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #2327e6;
}
