
/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e9f5f5;
  margin: 0;
  padding: 0;
}


/* RendezVousDataTable.css */
.main-container {
  max-width: calc(100% - 250px); /* Ajustez la largeur selon vos besoins, ici, j'ai supposé que votre sidenav a une largeur de 250px */
  margin-left: 150px; /* Assurez-vous d'ajuster cela en fonction de la largeur de votre sidenav */
}
.custom-table-container {
  border: 5px solid #ddd;
  padding: 10px; /* Ajustez la marge intérieure selon vos besoins */
}

/*NAVIGATOR*/
.mysidenav{
  background-color: #00adff;
  height: 100%;
}